@import "./error-boundary.css";
@import "./dom-view.css";

a {
  text-decoration: none;
}

/* The class name is ‘toMd’ instead of ‘2md’ because css class names can’t begin
 * with digits. */
.toMd-demo {
  font-family: sans-serif;
}
.toMd-demo__wrapper {
  display: grid;
  grid-template-columns:
    repeat(2, min(20em, 40%))
    repeat(3, min(30em, 40%))
    fit-content(40em)
    fit-content(40em);
  grid-gap: 10px;
}
.toMd-demo__column {
  padding: 8px;
  background-color: #fcfddf;
}
.toMd-demo__column__flex {
  display: flex;
  flex-direction: column;
}
.toMd-demo__input-area {
  overflow: scroll;
  background-color: white;
  border: 1px solid blue;
  padding: 3px;
}
.toMd-demo__input-textarea {
  width: 100%;
  flex: 1 auto;
}
.toMd-demo__output {
  overflow-x: scroll;
}
.toMd-demo__heading {
  width: min(120em, 240%);
  display: flex;
}
.toMd-demo__heading-piece {
  align-self: baseline;
  margin-right: 0.5em;
}
